:root {
    --space: 1rem;
}

@font-face {
    font-family: 'salaryman';
    src: url('./fonts/salaryma-webfont.woff2') format('woff2'),
         url('./fonts/salaryma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.brand {
    flex: none;
    position: relative;
    width: 38%;
    height: 100vh;
    background-image: url("./images/marcus-woodbridge-Zu5eyzwwPpU-unsplash.jpg");
    background-size: cover;
    color: white;
}

.content {
    flex: 1 1 0;
}

.brand a {
    color: white;
}

.brand .logo {
    width: 100%;
    height: 20vh;
    font-size: 3.5rem;
    font-family: "salaryman", sans-serif;
    padding: var(--space);
    background-color: black;
    color: white;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 62vh;
}

.brand .logo img {
    height: 100%;
}

.brand .footer {
    width: 100%;
    padding: var(--space);
    text-align: center;
    position: absolute;
    bottom: 0;
}