:root {
    --space: 1rem;
    --button-color: #5d6e79; /*#728693*/
    --accent-color: #253341;
    --light-background-color:#f9fafb;
    --field-border-color: #E5E7EB;
    --shadow-color: #c2cad6;
    --invalid-color: #d72e2e;
    --focus-color: #0f60ba;
}

@font-face {
    font-family: 'salaryman';
    src: url('./fonts/salaryma-webfont.woff2') format('woff2'),
         url('./fonts/salaryma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.brand {
    flex: none;
    position: relative;
    width: 38%;
    background-image: url("./images/marcus-woodbridge-Zu5eyzwwPpU-unsplash.jpg");
    background-size: cover;
    background-color: var(--button-color);
    color: white;
}

.content {
    padding-top: calc(var(--space)*6);
    padding-bottom: calc(var(--space)*6);
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(var(--space)*1.5);
    font-size: 1.6rem;
    font-weight: 700;
    background: var(--light-background-color);
}

.brand a {
    color: white;
}

.brand .logo {
    width: 100%;
    height: 20vh;
    font-size: 3.5rem;
    font-family: "salaryman", sans-serif;
    padding: var(--space);
    background-color: black;
    color: white;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 62vh;
}

.brand .logo img {
    height: 100%;
}

.brand .footer {
    width: 100%;
    padding: var(--space);
    text-align: center;
    position: absolute;
    bottom: 0;
}

.content>p,
.field-group,
p.button,
p.already {
    padding: 0 0 0 calc(var(--space)*3);
}

.content>p {
    width: min(100%, 58ch);
    line-height: 2rem;
}

.content a {
    color: var(--button-color);
}

.field-group {
    padding-top: calc(var(--space)*2);
    padding-bottom: calc(var(--space)*2);
    background-color: white;
    box-shadow: 0px 3px 5px var(--shadow-color);
}

.field-group p,
.field-group label {
    color: var(--accent-color);
}

.field-group p {
    margin-bottom: calc(var(--space)*2);
}

.field-group ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(var(--space) * 4);
    row-gap: calc(var(--space)* 1.1);
}

.field-group li {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.field-group label {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.field-group input {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid var(--field-border-color);
    border-radius: 5px;
}

.field-group input:invalid:not(:placeholder-shown) {
    border: 1px solid var(--invalid-color);
}

.field-group input:focus {
    border: 1px solid var(--focus-color);
    outline: none;
    box-shadow: 2px 2px 3px var(--shadow-color);
}


.field-group .error {
    height: 1rem;
    color: var(--invalid-color);
    font-size: 1rem;
    font-weight: initial;
}

p.already {
    font-size: 1.1rem;
}

button {
    background-color: var(--button-color);
    color: white;
    padding: var(--space) calc(var(--space)*3);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}